
#interface{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    background-color: #2fd4ae;
    color: white;
    border-radius: 8px;
    padding: 20px;

    font-size: 60px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#score{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#overlay{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2229;

    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
}

#overlay>div{
    font-size: 70px;
    background-color: rgb(178, 168, 168);
    border-radius: 12px;
    padding: 20px;
}